---
layout: skeleton
---
<style>
	.bg-hero {
		background: url('{{site.baseurl}}/images/MTLS_Hero_Banner.jpg') no-repeat top left;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.bg-hero-bottom {
		background: url('{{site.baseurl}}/images/isomer-banner-bottom.png') no-repeat top left;
		-webkit-background-size: cover;
		background-size: cover;
	}
</style>

<section class="bp-hero bg-hero">
    <div class="bp-hero-body">
        <div class="bp-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col has-text-white is-hidden-touch has-text-centered">
                 
                </div>
                <div class="col has-text-white has-text-centered is-hidden-desktop">
                	<h1 class="display padding--bottom--lg"><b>e-MTLS 2020</b></h1>
                	<p class=" padding--bottom--lg">
                    	Rapidly launch an informational website for your Government agency
                  	</p>
                	<a href="{{ site.baseurl }}/#showcase" class="bp-button is-white is-outlined is-uppercase search-button">See Examples</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bp-section bg-newssection" style="display:none">
	<div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl">
                
                <h1 class="has-text-secondary padding--bottom--xl"><b>LIVESTREAMS</b></h1>
                    <div>
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLbVFE6jIWCCQDVqgJBBRE6L3apSr9y6FF" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
	</div>
</section>

<section class="bp-section" style="background-color:#f896b0" id="showcase">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
               
                <h1 class="has-text-secondary padding--bottom--xl"><b>HIGHLIGHTS</b></h1>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div class="col is-one-third">
	        	<a href="/Exhibition/English-Videos/Synopsis/" class="is-media-card">
	        		<div class="image-hoverable">
			        	
			        	<div class="image-hover-overlay"></div>
			        	<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button" style="width:200px;height:200px;border-radius:50%;font-size:30px;border-width:4px;"><p style="font-size:23px;">18 SHARING <br/>SESSIONS </p></div>
			        </div>
			    </a>
			    
	        </div>
	        <div class="col is-one-third">
	        	<a href="/Gallery/Gallery-Overview/" class="is-media-card">
	        		<div class="image-hoverable">
		        		
		        		<div class="image-hover-overlay"></div>
		        		<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button" style="width:200px;height:200px;border-radius:50%;font-size:30px;border-width:4px;"><p style="font-size:23px;">35 <br/>EXHIBITORS</p></div>
		        	</div>
	        	</a>
	        	
	        </div>
	        <div class="col is-one-third">
	        	<a href="#" class="is-media-card">
	        		<div class="image-hoverable">
	        			<div class="image-hover-overlay"></div>
	        			<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button" style="width:200px;height:200px;border-radius:50%;font-size:30px;border-width:4px;"><p style="font-type:23px;">ONLINE QUEST<br/>(November)</p>
</div>
	        		</div>
	        	</a>
	        </div>
	    </div>
	</div>
</section>


<section class="bp-section bg-newssection">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <h1 class="has-text-secondary"><b>KNOW OUR SPEAKERS</b></h1>
            </div>
        </div>
	<div class="row has-text-centered margin--top padding--bottom">
		<div>
			<div class="image-hoverable">
					<img class="isomer-example" src="{{site.baseurl}}/images/EL-Dr Connie Lum.png" alt="Hotels Licensing Board" style="max-width:225px;max-height:225px;"/>
			</div>
			<h5 class="padding--top--sm has-text-secondary"><b>Dr Connie Lum<br/>Multimodal Approaches to Developing Oracy</b></h5>
		</div>
		<div>
			<div class="image-hoverable">
					<img class="isomer-example" src="{{site.baseurl}}/images/CL-Dr-Shuhan-C.Wang.png" alt="Strategy Group Singapore" style="max-width:225px;max-height:225px;"/>
			</div>
			<h5 class="padding--top--sm has-text-secondary"><b>Dr Shuhan C. Wang
				<br/>Principles and Strategies for<br/>Mother Tongue and Biliteracy Development<br/>for Young Learners
				</b></h5>

		</div>
		<div>
			<div class="image-hoverable">
					<img class="isomer-example" src="{{site.baseurl}}/images/TL-Elakeyaa Selvaraji.png" alt="Strategy Group Singapore" style="max-width:225px;max-height:225px;"/>	
			</div>
			<h5 class="padding--top--sm has-text-secondary"><b>Ms Elakeyaa Selvaraji<br/>Fun-filled Ways in the Learning of the Tamil Language</b></h5>
		</div>
		<div>
			<div class="image-hoverable">
					<img class="isomer-example" src="{{site.baseurl}}/images/ML-Mdm Asnida Bte Daud.png" alt="Board of Architects" style="max-width:225px;max-height:225px;"/>
			</div>
			<h5 class="padding--top--sm has-text-secondary"><b>Mdm Asnida bte Daud
				<br/>Edutainment In Educational Video: <br/>A Stimulus To Motivate Students’<br/>Malay Language Learning
				</b>
			</h5>
		</div>
	 </div>
	</div>
</section>

<section class="bp-section" id="showcase" style="display:none;">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
               
                <h1 class="has-text-secondary padding--bottom--xl><b>LET'S PLAY</b></h1>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div>
	        		<b>LET'S PLAY</b> <br/>
	<p>Thank you for your interest in joining the SG MTLS! If you have signed up, you will be invited to join our outreach channels to receive the latest updates.</p>    
	        </div>
	        <div >
	        	<a href="https://www.strategygroup.gov.sg/" target="_blank" class="is-media-card">
	        		<div class="image-hoverable">
		        		<img style="width:80%" src="{{site.baseurl}}/images/qrBanner.png" alt="Strategy Group Singapore"/>
		        	</div>
	        	</a>
	        	
	        </div>
	      
	    </div>
	</div>
</section>
																	     
																	     
