---
layout: skeleton
---
<style>
	.bg-hero {
			background: url('{{site.baseurl}}/images/Hero-Banner-v2.gif') no-repeat top left;
		-webkit-background-size: cover;
		background-size: cover;
		max-width: 100%;
  		height: auto; 
	}

	.bg-hero-bottom {
		background: url('{{site.baseurl}}/images/isomer-banner-bottom.png') no-repeat top left;
		-webkit-background-size: cover;
		
	}
	@media not all and (min-width: 780px) {
 .center { 
   max-width: 220px;
  display: block;
  margin-left: 70px;
  margin-right: 150px;}
}
	@media not all and (min-width: 780px) {
 .center1 { 
   max-width: 220px;
  display: block;
  margin-left: 120px;
  margin-right: 150px;}
}

</style>
<!-- Global site tag (gtag.js) - Google Ads: 726049306 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-726049306"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-726049306');
</script>

<section class="bp-hero bg-hero">
    <div class="bp-hero-body">
        <div class="bp-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col has-text-white is-hidden-touch has-text-centered">
                 
                </div>
                <div class="col has-text-white has-text-centered is-hidden-desktop">
                	<h1 style="display:none;" class="display padding--bottom--lg"><b></b></h1>
                	<p class=" padding--bottom--lg">
                    	
                  	</p>
                	<a style="display:none;" href="{{ site.baseurl }}/#showcase" class="bp-button is-white is-outlined is-uppercase search-button">See Examples</a>
                </div>
            </div>
        </div>
    </div>
</section>


    <div class="bp-container padding--bottom--lg" style="display:none;">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
               
                <h1 class="has-text-secondary"><b>LIVESTREAMS</b></h1>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div class="col is-one-third">
	        	<a href="/livestreams/" class="is-media-card">
	        		<div class="image-hoverable">
			        	
			        	<div class="image-hover-overlay"></div>
					<img src="/images/CL-Livestreams.png" style="max-width:225px;max-height:225px;"/>
			        </div>
			    </a>
			    
	        </div>
	        <div class="col is-one-third">
	        	<a href="/livestreams/" class="is-media-card">
	        		<div class="image-hoverable">
		        		
		        		<div class="image-hover-overlay"></div>
					<img src="/images/Strim-Langsung.png" style="max-width:225px;max-height:225px;"/>
		        	</div>
	        	</a>
	        	
	        </div>
	        <div class="col is-one-third">
	        	<a href="/livestreams/" class="is-media-card">
	        		<div class="image-hoverable">
	        			<div class="image-hover-overlay"></div>
					<img src="/images/TL-Livestreams.png" style="max-width:225px;max-height:225px;"/>
</div>
	        		</div>
	        	</a>
	        </div>
	    </div>



<section class="bp-section bg-newssection" style="background-color:#3BB9FF">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
               
                <h1 class="has-text-white"><b>HIGHLIGHTS</b></h1>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div style="width:25%" class="center">
	        	<a href="/opening-ceremony/" class="is-media-card">
	        		<div class="image-hoverable">
			        	
			        	<div class="image-hover-overlay"></div>
					<img src="/images/MTLS_Highlights_CeremonyIcon.png" style="max-width:225px;max-height:225px;"/>
			        </div>
			    </a>	    
	        </div>
		
	        <div style="width:25%" class="center">
	        	<a href="/sharing-sessions/english-videos//" class="is-media-card">
	        		<div class="image-hoverable">
		        		
		        		<div class="image-hover-overlay"></div>
					<img src="/images/MTLS_Highlights_SharingSessionIcon.png" style="max-width:225px;max-height:225px;"/>
		        	</div>
	        	</a>
	        	
	        </div>
		 <div style="width:25%" class="center1">
	        	<a href="/exhibits/overview/" class="is-media-card">
	        		<div class="image-hoverable">
		        		
		        		<div class="image-hover-overlay"></div>
					<img src="/images/MTLS_Highlights_ExhibitsIcon.png" style="max-width:225px;max-height:225px;"/>
		        	</div>
	        	</a>
	        	
	        </div>
		
	        <div style="width:25%" class="center1">
	        	<a href="/online-quest/" class="is-media-card">
	        		<div class="image-hoverable">
	        			<div class="image-hover-overlay"></div>
					<img src="/images/MTLS_Highlights_QuestIcon.png" style="max-width:225px;max-height:225px;"/>
</div>
	        		</div>
	        	</a>
	        </div>
	    </div>
	</div>
</section>

<section class="bp-section" id="showcase" style="display:none;">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl" >
               
                <h1 class="has-text-secondary padding--bottom--xl><b>LET'S PLAY</b></h1>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	       
	        <div >
                     <div>
		        		<img style="width:100%" src="{{site.baseurl}}/images/MTLS_Web_Placeholders-V1_01.jpg"/>
		        	</div>
	        	</a>
	        	
	        </div>
	      
	    </div>
	</div>
</section>

<section class="bp-section bg-newssection">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <h1 class="has-text-secondary"><b>OUR SPEAKERS</b></h1>
            </div>
        </div>
        
	<div class="row has-text-centered margin--top padding--bottom">
		
		<div>
			<div style="width:25%" class="center">
	        	<a href="/eng/mrs-dianne-seet-and-mdm-nie-bing/" class="is-media-card">
	        		<div class="image-hoverable">
			<img class="isomer-example" src="{{site.baseurl}}/images/Speakers_EL_DianneSeet.png" alt="Strategy Group Singapore" style="max-width:225px;max-height:225px;"/>
				</div></a></div>
			<h5 class="padding--top--sm has-text-secondary"><b>Mrs Dianne Seet</b><br/>Mother Tongue is Cool at Home <br/> and in School too! - Strategies to Motivate Children to Love MTL 
				
				</h5>

		</div>
<div>
		<div style="width:25%" class="center">
	        	<a href="/test/林美莲博士/" class="is-media-card">
			<div class="image-hoverable">
					
			<img class="isomer-example" src="{{site.baseurl}}/images/Speakers_CL_ConnieLum.png" alt="Hotels Licensing Board" style="max-width:225px;max-height:225px; margin-left:39%;"/>
			</div>
       </a>	
			</div>
			<h5 class="padding--top--sm has-text-secondary"><b>Dr Connie Lum</b><br/>Leveraging on Five Senses in Developing Skills to Learn Chinese Language</h5>
		</div>
		<div>
			<div style="width:25%" class="center">
	        	<a href="/tl/ms-elakeyaa-selvaraji/" class="is-media-card">
                               <div class="image-hoverable">
					<img class="isomer-example" src="{{site.baseurl}}/images/Speakers_TL_ElakeyaaSelvaraji.png" alt="Strategy Group Singapore" 
					     style="max-width:225px;max-height:225px; margin-left:52%;"/>
			</div></a></div>
            
			<h5 class="padding--top--sm has-text-secondary"><b>Ms Elakeyaa Selvaraji</b><br/>Having Smart Conversations with your Children using Specialised Techniques</h5>
		</div>
<div>
	
			<div style="width:25%" class="center">
	        	<a href="/ml/mr-haniman-boniran/" class="is-media-card">
                               <div class="image-hoverable">
					<img class="isomer-example" src="{{site.baseurl}}/images/Speakers_ML_JumainibteAriff.png" alt="Board of Architects" style="max-width:225px;max-height:225px;"/>
              </div></a>
			</div>
			<h5 class="padding--top--sm has-text-secondary"><b>Mr Haniman Boniran</b><br/>Let’s Learn Malay Language at the Zoo!
				
			</h5>
		</div>
	 </div>
	</div>
</section>

<section class="bp-section" id="showcase">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl" >
               
                <h1 class="has-text-secondary padding--bottom--xl><b>LET'S PLAY</b></h1>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	       
	        <div >
	        	<a href="https://www.strategygroup.gov.sg/" target="_blank" class="is-media-card">
	        		<div>
		        		<img style="width:100%" src="{{site.baseurl}}/images/Picture1.jpg" alt="Strategy Group Singapore"/>
		        	</div>
	        	</a>
	        	
	        </div>
	      
	    </div>
	</div>
</section>
																	     
																	     
